In [40]:
#Imports

import pandas as pd
import numpy as np
import datetime as dt

#Exercício 1 

Um estabelecimento quer implantar um sistema de controle de estoque, mas o dono do estabelecimento possui praticamente zero experiencia com sistema de computador. Para começar pediu para que os funcionários comecem a contar o estoque de materiais utilizados e produtos vendidos. No entanto, ele não especificou um formato padrão de dados nem quando, então cada funcionário foi colocando os dados do seu jeito. No fim do mês, o dono percebeu que fazer um relatório seria muito trabalhoso, mas ele teve a ideia de pedir para o sobrinho (você) dele, pois sabia que ele tinha experiencias com computador e é muito inteligente pois é aluno da FEA USP e membro da FEA DEV :> .

O dono fez alguns pedidos para o sistema:

• mostre resultados semanais
• mostre resultado mensal
• arrume a data para formato datetime

Faça um sistema que mostre o resultado do mês.

In [41]:
#Dados

data = ["2 may 24", "05-03-24", "05/08 2024", "may 10 2024", "05-13-2024", "05-16-2024" ,"05-17-2024", "2024 may 24", "28/05/24", "30/05/24", "may 31 2024"]

dados = {
    "materiais" : np.random.randint(10, 1000, 11),
    "produtos" : np.random.randint(10, 1000, 11)
}

dados = pd.DataFrame(dados, index=data)
dados

             materiais  produtos
2 may 24           396       145
05-03-24           394       159
05/08 2024         266       233
may 10 2024        918       937
05-13-2024         732       637
05-16-2024         596        35
05-17-2024         735       928
2024 may 24        212       659
28/05/24           286       235
30/05/24           192       541
may 31 2024        882       746

In [42]:
#Uma das resposta possível

dados.index = pd.to_datetime(dados.index)

#Resultado semanal

resul_sem = dados.resample('W').sum()

#Resultado mensal

resul_men = dados.resample('M').sum()

print(resul_sem)
print('------------------------------------')
print(resul_men)

            materiais  produtos
2024-05-05        790       304
2024-05-12       1184      1170
2024-05-19       2063      1600
2024-05-26        212       659
2024-06-02       1360      1522
------------------------------------
            materiais  produtos
2024-05-31       5609      5255

/var/folders/52/vmplrkxj4kx5gdwct_6r563m0000gn/T/ipykernel_25525/4136874865.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  dados.index = pd.to_datetime(dados.index)
/var/folders/52/vmplrkxj4kx5gdwct_6r563m0000gn/T/ipykernel_25525/4136874865.py:11: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  resul_men = dados.resample('M').sum()

#Exercício 2

Agora que o dono tem um pouco mais de noção sobre computação, ele pediu um sistema mais complexo, e agora tambêm ele tem um banco de dados maior.

Atenda os novos critêrios:

•Crie um novo DataFrame com relatório de somas das vendas de cada mês
•Crie um nova coluna no mesmo DataFrame mostrando variação entre mês atual e anterior
•Mostre a média semanal de vendas de cada mês
•Mostre resultado de últimos dois meses
•Faça o mesmo mas agora semanal
•Faça uma função que traga resultados da semana inserido

In [43]:
#Dados

data2 = pd.date_range('06-01-2024', periods=30, freq='3B')

dados2 = {
     "materiais" : np.random.randint(10, 1000, 30),
     "produtos" : np.random.randint(10, 1000, 30)   
}

dados2 = pd.DataFrame(dados2, index=data2)
dados2

            materiais  produtos
2024-06-03        760       739
2024-06-06        203        81
2024-06-11        956       924
2024-06-14        128       792
2024-06-19        468       339
2024-06-24        800       110
2024-06-27        755       984
2024-07-02        350       901
2024-07-05        298        92
2024-07-10        546       309
2024-07-15        297        40
2024-07-18        959       588
2024-07-23        864       725
2024-07-26        463       452
2024-07-31        811       949
2024-08-05         70       536
2024-08-08        969       763
2024-08-13        391       506
2024-08-16        513       896
2024-08-21         33       103
2024-08-26        732       581
2024-08-29         63       683
2024-09-03         80       920
2024-09-06        357       377
2024-09-11        394       509
2024-09-16        766       508
2024-09-19        362       878
2024-09-24        761       548
2024-09-27        581       689
2024-10-02        243       380

In [65]:
#Uma das possíveis respostas

#Relatório mensal
relatorio_men = dados2.resample('M').sum()
relatorio_men_var = relatorio_men.diff()

relatorio_men['var_materiais'] = relatorio_men_var['materiais']
relatorio_men['var_produtos'] = relatorio_men_var['produtos']

relatorio_men_med = dados2.resample('M').mean()

relatorio_men['med_materiais'] = relatorio_men_med['materiais']
relatorio_men['med_produtos'] = relatorio_men_med['produtos']

ult_2_mes = relatorio_men[relatorio_men.shape[0] - 2:]


#Relatório semanal

relatorio_sem = dados2.resample('W').sum()
relatorio_sem_var = relatorio_sem.diff()

relatorio_sem['var_materiais'] = relatorio_sem_var['materiais']
relatorio_sem['var_produtos'] = relatorio_sem_var['produtos']

relatorio_sem_med = dados2.resample('W').mean()

relatorio_sem['med_materiais'] = relatorio_sem_med['materiais']
relatorio_sem['med_produtos'] = relatorio_sem_med['produtos']

def fun_relatorio_sem(data):
    data = pd.to_datetime(data)
    semana = data.week

    for i in relatorio_sem.index:

        if i.week == semana:

            print(relatorio_sem.loc[i])

            break

fun_relatorio_sem('23 August 2024')

materiais          33.0
produtos          103.0
var_materiais    -871.0
var_produtos    -1299.0
med_materiais      33.0
med_produtos      103.0
Name: 2024-08-25 00:00:00, dtype: float64

/var/folders/52/vmplrkxj4kx5gdwct_6r563m0000gn/T/ipykernel_25525/579940464.py:4: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  relatorio_men = dados2.resample('M').sum()
/var/folders/52/vmplrkxj4kx5gdwct_6r563m0000gn/T/ipykernel_25525/579940464.py:10: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  relatorio_men_med = dados2.resample('M').mean()

In [ ]:
teste = pd.Timestamp('11 august 2003')

valor = teste.date()
valor